{
  "swagger": "2.0",
  "info": {
    "title": "BlockchainManagementClient",
    "description": "REST API for Azure Blockchain Service",
    "version": "2018-06-01-preview"
  },
  "host": "managemen.azure.com",
  "schemes": [
    "http"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/operations/{operationId}": {
      "get": {
        "tags": [
          "BlockchainMemberOperationResult"
        ],
        "operationId": "BlockchainMemberOperationResult_GetOperationResult",
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "operationId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "monitor",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Get OperationResult for BlockchainMember\nor\nGet OperationResult for BlockchainMember",
            "schema": {},
            "x-expectedSchemas": [
              {
                "description": "Get OperationResult for BlockchainMember",
                "schema": {
                  "$ref": "#/definitions/OperationResult"
                }
              },
              {
                "description": "Get OperationResult for BlockchainMember",
                "schema": {
                  "$ref": "#/definitions/BlockchainMember"
                }
              }
            ]
          },
          "202": {
            "description": "Operation is accepted"
          },
          "404": {
            "description": "Operation is not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/cordaMembers/{cordaMemberName}": {
      "get": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "cordaMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CordaMember"
            }
          },
          "404": {
            "description": ""
          },
          "default": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "cordaMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "cordaMember",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CordaMember"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ControlledTaskOfActionResultOfCordaMember"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ControlledTaskOfActionResultOfCordaMember"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_Delete",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "cordaMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "204": {
            "description": ""
          },
          "default": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "cordaMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "cordaMember",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CordaMember"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ControlledTaskOfActionResultOfBlockchainMember"
            }
          },
          "204": {
            "description": ""
          },
          "default": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/cordaMembers": {
      "get": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CordaMemberCollection"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/cordaMembers": {
      "get": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_ListAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CordaMemberCollection"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/fabricIdentity/listConnectionProfiles": {
      "post": {
        "tags": [
          "HLFIdentity"
        ],
        "operationId": "HLFIdentity_ListServiceConnectionProfile",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/HLFConnectionProfile"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/fabricIdentity/listMemberMSP": {
      "post": {
        "tags": [
          "HLFIdentity"
        ],
        "operationId": "HLFIdentity_ListMemberMSP",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/HLFMembershipServiceProvider"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/checkNameAvailability": {
      "post": {
        "tags": [
          "Location"
        ],
        "operationId": "Location_CheckNameAvailability",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "nameAvailabilityRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameAvailabilityRequest"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "locationName",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NameAvailability"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/listConsortiums": {
      "post": {
        "tags": [
          "Location"
        ],
        "operationId": "Location_ListAvailableConsortiums",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "locationName",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsortiumCollection"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/providers/Microsoft.Blockchain/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "operationId": "Operation_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationCollection"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/skus": {
      "get": {
        "tags": [
          "Sku"
        ],
        "operationId": "Sku_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResourceTypeSkuCollection"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "put": {
        "tags": [
          "Subscription"
        ],
        "operationId": "Subscription_Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "subscriptionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Subscription"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/ordererNodes/{ordererNodeName}": {
      "get": {
        "tags": [
          "OrdererNode"
        ],
        "operationId": "OrdererNode_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "ordererNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/HLFOrdererNode"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "OrdererNode"
        ],
        "operationId": "OrdererNode_Create",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "ordererNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/HLFOrdererNode"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "OrdererNode"
        ],
        "operationId": "OrdererNode_Delete",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "ordererNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/ordererNodes": {
      "get": {
        "tags": [
          "OrdererNode"
        ],
        "operationId": "OrdererNode_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/HLFOrdererNodeCollection"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/peerNodes/{peerNodeName}": {
      "get": {
        "tags": [
          "PeerNode"
        ],
        "operationId": "PeerNode_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "peerNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/HLFPeerNode"
            }
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "PeerNode"
        ],
        "operationId": "PeerNode_Add",
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "peerNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "202": {
            "x-nullable": false,
            "description": "Add Peer Node Request Accepted",
            "schema": {
              "$ref": "#/definitions/HLFPeerNode"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PeerNode"
        ],
        "operationId": "PeerNode_Remove",
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "peerNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "202": {
            "x-nullable": false,
            "description": "Add Peer Node Request Accepted",
            "schema": {
              "$ref": "#/definitions/HLFPeerNode"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/peerNodes": {
      "get": {
        "tags": [
          "PeerNode"
        ],
        "operationId": "PeerNode_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/HLFPeerNodeCollection"
            }
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}": {
      "get": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BlockchainMember"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "blockchainMember",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockchainMember"
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BlockchainMember"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BlockchainMember"
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "blockchainMember",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockchainMember"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BlockchainMember"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers": {
      "get": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BlockchainMemberCollection"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/blockchainMembers": {
      "get": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_ListAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BlockchainMemberCollection"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/consortiumMembers": {
      "get": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_ListConsortiumMembers",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsortiumMemberCollection"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/listApiKeys": {
      "post": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_ListApiKeys",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiKeyCollection"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/regenerateApiKeys": {
      "post": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_RegenerateApiKeys",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "apiKey",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiKey"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiKeyCollection"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/statusStatistics": {
      "get": {
        "tags": [
          "BlockchainMemberMetric"
        ],
        "operationId": "BlockchainMemberMetric_StatusStatistics",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/StatusStatistics"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/blocks": {
      "get": {
        "tags": [
          "BlockchainMemberMetric"
        ],
        "operationId": "BlockchainMemberMetric_Blocks",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "count",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Block"
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/recentTransactions": {
      "get": {
        "tags": [
          "BlockchainMemberMetric"
        ],
        "operationId": "BlockchainMemberMetric_RecentTransactions",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "count",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Transaction"
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/blockchainMemberOperationResults/{operationId}": {
      "get": {
        "tags": [
          "LocationOperationResult"
        ],
        "operationId": "LocationOperationResult_Get",
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "locationName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "operationId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}": {
      "get": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionNode"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "transactionNode",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionNode"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "IsCancellationRequested",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "CanBeCanceled",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "object",
            "name": "WaitHandle.Handle",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IntPtr"
            },
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionNode"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionNode"
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "transactionNode",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionNode"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionNode"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionNode"
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes": {
      "get": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionNodeCollection"
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/listApiKeys": {
      "post": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_ListApiKeys",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiKeyCollection"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/regenerateApiKeys": {
      "post": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_RegenerateApiKeys",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "apiKey",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiKey"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiKeyCollection"
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    }
  },
  "definitions": {
    "OperationResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "BlockchainMember": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/BlockchainMemberProperties"
        },
        "type": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "BlockchainMemberProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/BlockchainMemberPropertiesBase"
        },
        {
          "type": "object",
          "required": [
            "provisioningState"
          ],
          "properties": {
            "provisioningState": {
              "$ref": "#/definitions/BlockchainMemberProvisioningState"
            },
            "dns": {
              "type": "string"
            }
          }
        }
      ]
    },
    "BlockchainMemberProvisioningState": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "NotSpecified",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Stale",
        "Suspending",
        "Suspended"
      ],
      "enum": [
        "NotSpecified",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Stale",
        "Suspending",
        "Suspended"
      ]
    },
    "BlockchainMemberPropertiesBase": {
      "type": "object",
      "required": [
        "protocol"
      ],
      "properties": {
        "protocol": {
          "$ref": "#/definitions/BlockchainProtocol"
        }
      }
    },
    "BlockchainProtocol": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "NotSpecified",
        "Parity",
        "Quorum",
        "Corda",
        "HyperledgerFabric"
      ],
      "enum": [
        "NotSpecified",
        "Parity",
        "Quorum",
        "Corda",
        "HyperledgerFabric"
      ]
    },
    "QuorumMemberProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/BlockchainMemberProperties"
        },
        {
          "type": "object",
          "required": [
            "nodeProvisioningState"
          ],
          "properties": {
            "validatorNodesSku": {
              "$ref": "#/definitions/BlockchainMemberNodesSku"
            },
            "userName": {
              "type": "string"
            },
            "password": {
              "type": "string"
            },
            "consortium": {
              "type": "string"
            },
            "consortiumRole": {
              "type": "string"
            },
            "consortiumMemberDisplayName": {
              "type": "string"
            },
            "consortiumManagementAccountAddress": {
              "type": "string"
            },
            "consortiumManagementAccountPassword": {
              "type": "string"
            },
            "firewallRules": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FirewallRule"
              }
            },
            "rootContractAddress": {
              "type": "string"
            },
            "publicKey": {
              "type": "string"
            },
            "nodeProvisioningState": {
              "$ref": "#/definitions/NodeProvisioningState"
            }
          }
        }
      ]
    },
    "BlockchainMemberNodesSku": {
      "type": "object",
      "required": [
        "capacity"
      ],
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "FirewallRule": {
      "type": "object",
      "properties": {
        "ruleName": {
          "type": "string"
        },
        "startIpAddress": {
          "type": "string"
        },
        "endIpAddress": {
          "type": "string"
        }
      }
    },
    "NodeProvisioningState": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "NotSpecified",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed"
      ],
      "enum": [
        "NotSpecified",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed"
      ]
    },
    "HLFMemberProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/BlockchainMemberProperties"
        },
        {
          "type": "object",
          "properties": {
            "orderers": {
              "$ref": "#/definitions/HLFOrderer"
            },
            "peers": {
              "$ref": "#/definitions/HLFPeer"
            },
            "egressIP": {
              "type": "string"
            },
            "certificateAuthority": {
              "$ref": "#/definitions/HLFCertificateAuthorityConfiguration"
            },
            "firewallRules": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FirewallRule"
              }
            },
            "protocolVersion": {
              "type": "string"
            }
          }
        }
      ]
    },
    "HLFOrderer": {
      "type": "object",
      "required": [
        "count"
      ],
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "default": -1
        },
        "consortiumName": {
          "type": "string"
        }
      }
    },
    "HLFPeer": {
      "type": "object",
      "required": [
        "count",
        "db"
      ],
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "default": -1
        },
        "db": {
          "$ref": "#/definitions/HLFDatabaseType"
        }
      }
    },
    "HLFDatabaseType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "NotSpecified",
        "LevelDB",
        "CouchDB"
      ],
      "enum": [
        "NotSpecified",
        "LevelDB",
        "CouchDB"
      ]
    },
    "HLFCertificateAuthorityConfiguration": {
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "metadataEndpoint": {
          "type": "string"
        },
        "allowedAudiences": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certificates": {
          "$ref": "#/definitions/HLFRootCaCertificateConfiguration"
        },
        "endpoint": {
          "type": "string"
        }
      }
    },
    "HLFRootCaCertificateConfiguration": {
      "type": "object",
      "properties": {
        "vaultResourceId": {
          "type": "string"
        },
        "enrollmentCertKeyVaultUri": {
          "type": "string"
        },
        "tlsCertKeyVaultUri": {
          "type": "string"
        }
      }
    },
    "Sku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        }
      }
    },
    "CordaMember": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/CordaMemberProperties"
        },
        "type": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CordaMemberProperties": {
      "type": "object",
      "required": [
        "provisioningState"
      ],
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/BlockchainMemberProvisioningState"
            }
          ]
        },
        "dns": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "networkType": {
          "type": "string"
        },
        "networkServiceAddress": {
          "type": "string"
        },
        "certificateProperties": {
          "$ref": "#/definitions/CordaMemberCertificateProperties"
        },
        "cordappPackageUri": {
          "type": "string",
          "format": "uri"
        },
        "cordappPackageName": {
          "type": "string"
        }
      }
    },
    "CordaMemberCertificateProperties": {
      "type": "object",
      "properties": {
        "nodeCertificateJKSFileContent": {
          "type": "string"
        },
        "nodeCertificateJKSFilePassword": {
          "type": "string"
        },
        "nodeTLSCertificateJKSFileContent": {
          "type": "string"
        },
        "trustStoreJKSFileContent": {
          "type": "string"
        },
        "trustStoreJKSFilePassword": {
          "type": "string"
        }
      }
    },
    "CloudError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudError"
          }
        },
        "additionalInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdditionalErrorInfo"
          }
        }
      }
    },
    "AdditionalErrorInfo": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "info": {}
      }
    },
    "CordaMemberCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CordaMember"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ControlledTaskOfActionResultOfCordaMember": {
      "allOf": [
        {
          "$ref": "#/definitions/ControlledTask"
        },
        {
          "type": "object",
          "properties": {
            "result": {
              "$ref": "#/definitions/CordaMember"
            }
          }
        }
      ]
    },
    "ControlledTask": {
      "type": "object",
      "required": [
        "id",
        "isCompleted",
        "isCanceled",
        "isFaulted",
        "status"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "isCompleted": {
          "type": "boolean"
        },
        "isCanceled": {
          "type": "boolean"
        },
        "isFaulted": {
          "type": "boolean"
        },
        "exception": {
          "$ref": "#/definitions/AggregateException"
        },
        "status": {
          "$ref": "#/definitions/TaskStatus"
        }
      }
    },
    "AggregateException": {
      "allOf": [
        {
          "$ref": "#/definitions/Exception"
        },
        {
          "type": "object",
          "properties": {
            "InnerExceptions": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Exception"
              }
            }
          }
        }
      ]
    },
    "Exception": {
      "type": "object",
      "properties": {
        "Message": {
          "type": "string"
        },
        "InnerException": {
          "$ref": "#/definitions/Exception"
        },
        "StackTrace": {
          "type": "string"
        },
        "Source": {
          "type": "string"
        }
      }
    },
    "TaskStatus": {
      "type": "integer",
      "description": "",
      "x-enumNames": [
        "Created",
        "WaitingForActivation",
        "WaitingToRun",
        "Running",
        "WaitingForChildrenToComplete",
        "RanToCompletion",
        "Canceled",
        "Faulted"
      ],
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7
      ]
    },
    "ControlledTaskOfActionResultOfBlockchainMember": {
      "allOf": [
        {
          "$ref": "#/definitions/ControlledTask"
        },
        {
          "type": "object",
          "properties": {
            "result": {
              "$ref": "#/definitions/BlockchainMember"
            }
          }
        }
      ]
    },
    "HLFConnectionProfile": {
      "type": "object",
      "properties": {
        "client": {
          "$ref": "#/definitions/ConnectionProfileClient"
        },
        "name": {
          "type": "string"
        },
        "organizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Organization"
          }
        },
        "peers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/NodeProperties"
          }
        },
        "orderers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/NodeProperties"
          }
        },
        "version": {
          "type": "string"
        },
        "wallet": {
          "type": "string"
        }
      }
    },
    "ConnectionProfileClient": {
      "type": "object",
      "properties": {
        "connection": {
          "$ref": "#/definitions/Connection"
        },
        "organization": {
          "type": "string"
        }
      }
    },
    "Connection": {
      "type": "object",
      "properties": {
        "timeout": {
          "$ref": "#/definitions/ConnectionTimeout"
        }
      }
    },
    "ConnectionTimeout": {
      "type": "object",
      "properties": {
        "orderer": {
          "type": "string"
        },
        "peer": {
          "$ref": "#/definitions/Peer"
        }
      }
    },
    "Peer": {
      "type": "object",
      "properties": {
        "endorser": {
          "type": "string"
        }
      }
    },
    "Organization": {
      "type": "object",
      "properties": {
        "mspid": {
          "type": "string"
        },
        "peers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "orderers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NodeProperties": {
      "type": "object",
      "properties": {
        "grpcOptions": {
          "$ref": "#/definitions/GRPCOptions"
        },
        "tlsCACerts": {
          "$ref": "#/definitions/TLSCACertificates"
        },
        "url": {
          "type": "string",
          "format": "uri"
        }
      }
    },
    "GRPCOptions": {
      "type": "object",
      "properties": {
        "hostnameOverride": {
          "type": "string"
        },
        "ssl-target-name-override": {
          "type": "string"
        }
      }
    },
    "TLSCACertificates": {
      "type": "object",
      "properties": {
        "pem": {
          "type": "string"
        }
      }
    },
    "IntPtr": {
      "type": "object"
    },
    "HLFMembershipServiceProvider": {
      "type": "object",
      "properties": {
        "msp_id": {
          "type": "string"
        },
        "tlscacerts": {
          "type": "string"
        },
        "cacerts": {
          "type": "string"
        }
      }
    },
    "NameAvailability": {
      "type": "object",
      "required": [
        "nameAvailable",
        "reason"
      ],
      "properties": {
        "nameAvailable": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        },
        "reason": {
          "$ref": "#/definitions/NameAvailabilityReason"
        }
      }
    },
    "NameAvailabilityReason": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "NotSpecified",
        "AlreadyExists",
        "Invalid",
        "Reserved"
      ],
      "enum": [
        "NotSpecified",
        "AlreadyExists",
        "Invalid",
        "Reserved"
      ]
    },
    "NameAvailabilityRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ConsortiumCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Consortium"
          }
        }
      }
    },
    "Consortium": {
      "type": "object",
      "required": [
        "protocol"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "protocol": {
          "$ref": "#/definitions/BlockchainProtocol"
        }
      }
    },
    "ResourceProviderOperationCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        }
      }
    },
    "ResourceProviderOperation": {
      "type": "object",
      "required": [
        "isDataAction"
      ],
      "properties": {
        "origin": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "isDataAction": {
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/ResourceProviderOperationDisplay"
        }
      }
    },
    "ResourceProviderOperationDisplay": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "ResourceTypeSkuCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceTypeSku"
          }
        }
      }
    },
    "ResourceTypeSku": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "skus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuSetting"
          }
        }
      }
    },
    "SkuSetting": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Subscription": {
      "type": "object",
      "required": [
        "state",
        "registrationDate",
        "properties"
      ],
      "properties": {
        "state": {
          "$ref": "#/definitions/SubscriptionState"
        },
        "registrationDate": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/SubscriptionRequestProperties"
        }
      }
    },
    "SubscriptionState": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Registered",
        "Unregistered",
        "Warned",
[...]
