{
  "openapi": "3.0.0",
  "info": {
    "title": "AzureBlockchainServices",
    "description": "Swagger Documentation for ABS",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/operations/{operationId}": {
      "get": {
        "tags": [
          "BlockchainMemberOperationResult"
        ],
        "operationId": "BlockchainMemberOperationResult_GetOperationResult",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "monitor",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Get OperationResult for BlockchainMember\nor\nGet OperationResult for BlockchainMember",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "x-expectedSchemas": [
              {
                "description": "Get OperationResult for BlockchainMember",
                "schema": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OperationResult"
                    }
                  ]
                }
              },
              {
                "description": "Get OperationResult for BlockchainMember",
                "schema": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BlockchainMember"
                    }
                  ]
                }
              }
            ]
          },
          "202": {
            "description": "Operation is accepted"
          },
          "404": {
            "description": "Operation is not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/cordaMembers/{cordaMemberName}": {
      "get": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "cordaMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CordaMember"
                }
              }
            }
          },
          "404": {
            "description": ""
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_Put",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "cordaMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "cordaMember",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CordaMember"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlledTaskOfActionResultOfCordaMember"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlledTaskOfActionResultOfCordaMember"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_Delete",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "cordaMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "204": {
            "description": ""
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_Patch",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "cordaMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "cordaMember",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CordaMember"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlledTaskOfActionResultOfBlockchainMember"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/cordaMembers": {
      "get": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_List",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CordaMemberCollection"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/cordaMembers": {
      "get": {
        "tags": [
          "CordaMember"
        ],
        "operationId": "CordaMember_ListAll",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CordaMemberCollection"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/fabricIdentity/listConnectionProfiles": {
      "post": {
        "tags": [
          "HLFIdentity"
        ],
        "operationId": "HLFIdentity_ListServiceConnectionProfile",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFConnectionProfile"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/fabricIdentity/listMemberMSP": {
      "post": {
        "tags": [
          "HLFIdentity"
        ],
        "operationId": "HLFIdentity_ListMemberMSP",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFMembershipServiceProvider"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/checkNameAvailability": {
      "post": {
        "tags": [
          "Location"
        ],
        "operationId": "Location_CheckNameAvailability",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 8
          }
        ],
        "requestBody": {
          "x-name": "nameAvailabilityRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NameAvailabilityRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameAvailability"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/listConsortiums": {
      "post": {
        "tags": [
          "Location"
        ],
        "operationId": "Location_ListAvailableConsortiums",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 4
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsortiumCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/providers/Microsoft.Blockchain/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "operationId": "Operation_List",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceProviderOperationCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/skus": {
      "get": {
        "tags": [
          "Sku"
        ],
        "operationId": "Sku_List",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceTypeSkuCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "put": {
        "tags": [
          "Subscription"
        ],
        "operationId": "Subscription_Put",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          }
        ],
        "requestBody": {
          "x-name": "subscriptionRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/ordererNodes/{ordererNodeName}": {
      "get": {
        "tags": [
          "OrdererNode"
        ],
        "operationId": "OrdererNode_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "ordererNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFOrdererNode"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "OrdererNode"
        ],
        "operationId": "OrdererNode_Create",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "ordererNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFOrdererNode"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "OrdererNode"
        ],
        "operationId": "OrdererNode_Delete",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "ordererNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/ordererNodes": {
      "get": {
        "tags": [
          "OrdererNode"
        ],
        "operationId": "OrdererNode_List",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFOrdererNodeCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/peerNodes/{peerNodeName}": {
      "get": {
        "tags": [
          "PeerNode"
        ],
        "operationId": "PeerNode_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "peerNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFPeerNode"
                }
              }
            }
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "PeerNode"
        ],
        "operationId": "PeerNode_Add",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "peerNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 10
          }
        ],
        "responses": {
          "202": {
            "description": "Add Peer Node Request Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFPeerNode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PeerNode"
        ],
        "operationId": "PeerNode_Remove",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "peerNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 10
          }
        ],
        "responses": {
          "202": {
            "description": "Add Peer Node Request Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFPeerNode"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/peerNodes": {
      "get": {
        "tags": [
          "PeerNode"
        ],
        "operationId": "PeerNode_List",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLFPeerNodeCollection"
                }
              }
            }
          },
          "404": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}": {
      "get": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainMember"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_Put",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 10
          }
        ],
        "requestBody": {
          "x-name": "blockchainMember",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockchainMember"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainMember"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainMember"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_Patch",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          }
        ],
        "requestBody": {
          "x-name": "blockchainMember",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockchainMember"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainMember"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_Delete",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers": {
      "get": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_List",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainMemberCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/blockchainMembers": {
      "get": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_ListAll",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 4
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainMemberCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/consortiumMembers": {
      "get": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_ListConsortiumMembers",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsortiumMemberCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/listApiKeys": {
      "post": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_ListApiKeys",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/regenerateApiKeys": {
      "post": {
        "tags": [
          "BlockchainMember"
        ],
        "operationId": "BlockchainMember_RegenerateApiKeys",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 5
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          }
        ],
        "requestBody": {
          "x-name": "apiKey",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/statusStatistics": {
      "get": {
        "tags": [
          "BlockchainMemberMetric"
        ],
        "operationId": "BlockchainMemberMetric_StatusStatistics",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusStatistics"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/blocks": {
      "get": {
        "tags": [
          "BlockchainMemberMetric"
        ],
        "operationId": "BlockchainMemberMetric_Blocks",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Block"
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/recentTransactions": {
      "get": {
        "tags": [
          "BlockchainMemberMetric"
        ],
        "operationId": "BlockchainMemberMetric_RecentTransactions",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/blockchainMemberOperationResults/{operationId}": {
      "get": {
        "tags": [
          "LocationOperationResult"
        ],
        "operationId": "LocationOperationResult_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}": {
      "get": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionNode"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_Put",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "IsCancellationRequested",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 6
          },
          {
            "name": "CanBeCanceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 7
          },
          {
            "name": "WaitHandle.Handle",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IntPtr"
            },
            "x-position": 8
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsInvalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 9
          },
          {
            "name": "WaitHandle.SafeWaitHandle.IsClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 10
          }
        ],
        "requestBody": {
          "x-name": "transactionNode",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionNode"
              }
            }
          },
          "required": true,
          "x-position": 5
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionNode"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionNode"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_Patch",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "requestBody": {
          "x-name": "transactionNode",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionNode"
              }
            }
          },
          "required": true,
          "x-position": 5
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionNode"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionNode"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_Delete",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes": {
      "get": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_List",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionNodeCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/listApiKeys": {
      "post": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_ListApiKeys",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/regenerateApiKeys": {
      "post": {
        "tags": [
          "TransactionNode"
        ],
        "operationId": "TransactionNode_RegenerateApiKeys",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "blockchainMemberName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "transactionNodeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "requestBody": {
          "x-name": "apiKey",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              }
            }
          },
          "required": true,
          "x-position": 5
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCollection"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OperationResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BlockchainMember": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "kind": {
            "type": "string",
            "nullable": true
          },
          "properties": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/BlockchainMemberProperties"
              }
            ]
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "sku": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Sku"
              }
            ]
          }
        }
      },
      "BlockchainMemberProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BlockchainMemberPropertiesBase"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "provisioningState": {
                "$ref": "#/components/schemas/BlockchainMemberProvisioningState"
              },
              "dns": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "BlockchainMemberProvisioningState": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "NotSpecified",
          "Updating",
          "Deleting",
          "Succeeded",
          "Failed",
          "Stale",
          "Suspending",
          "Suspended"
        ],
        "enum": [
          "NotSpecified",
          "Updating",
          "Deleting",
          "Succeeded",
          "Failed",
          "Stale",
          "Suspending",
          "Suspended"
        ]
      },
      "BlockchainMemberPropertiesBase": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "protocol": {
            "$ref": "#/components/schemas/BlockchainProtocol"
          }
        }
      },
      "BlockchainProtocol": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "NotSpecified",
          "Parity",
          "Quorum",
          "Corda",
          "HyperledgerFabric"
        ],
        "enum": [
          "NotSpecified",
          "Parity",
          "Quorum",
          "Corda",
          "HyperledgerFabric"
        ]
      },
      "QuorumMemberProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BlockchainMemberProperties"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "validatorNodesSku": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BlockchainMemberNodesSku"
                  }
                ]
              },
              "userName": {
                "type": "string",
                "nullable": true
              },
              "password": {
                "type": "string",
                "nullable": true
              },
              "consortium": {
                "type": "string",
                "nullable": true
              },
              "consortiumRole": {
                "type": "string",
                "nullable": true
              },
              "consortiumMemberDisplayName": {
                "type": "string",
                "nullable": true
              },
              "consortiumManagementAccountAddress": {
                "type": "string",
                "nullable": true
              },
              "consortiumManagementAccountPassword": {
                "type": "string",
                "nullable": true
              },
              "firewallRules": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              },
              "rootContractAddress": {
                "type": "string",
                "nullable": true
              },
              "publicKey": {
                "type": "string",
                "nullable": true
              },
              "nodeProvisioningState": {
                "$ref": "#/components/schemas/NodeProvisioningState"
              }
            }
          }
        ]
      },
      "BlockchainMemberNodesSku": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "capacity": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FirewallRule": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ruleName": {
            "type": "string",
            "nullable": true
          },
          "startIpAddress": {
            "type": "string",
            "nullable": true
          },
          "endIpAddress": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "NodeProvisioningState": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "NotSpecified",
          "Updating",
          "Deleting",
          "Succeeded",
          "Failed"
        ],
        "enum": [
          "NotSpecified",
          "Updating",
          "Deleting",
          "Succeeded",
          "Failed"
        ]
      },
      "HLFMemberProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BlockchainMemberProperties"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "orderers": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/HLFOrderer"
                  }
                ]
              },
              "peers": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/HLFPeer"
                  }
                ]
              },
              "egressIP": {
                "type": "string",
                "nullable": true
              },
              "certificateAuthority": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/HLFCertificateAuthorityConfiguration"
                  }
                ]
              },
              "firewallRules": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              },
              "protocolVersion": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "HLFOrderer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "default": -1
          },
          "consortiumName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "HLFPeer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "default": -1
          },
          "db": {
            "$ref": "#/components/schemas/HLFDatabaseType"
          }
        }
      },
      "HLFDatabaseType": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "NotSpecified",
          "LevelDB",
          "CouchDB"
        ],
        "enum": [
          "NotSpecified",
          "LevelDB",
          "CouchDB"
        ]
      },
      "HLFCertificateAuthorityConfiguration": {
[...]
